<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Java.Test"/>
      <class name="com.selenium.Incognito"/>
      <class name="com.Java.PolyMorphism"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
